<mat-card class="lieu-card">
  <mat-card-content>
    <div class="img-container">
      <img [src]="lieu.favorite_picture ? lieu.favorite_picture : constants.REPLACEMENT_PICTURE" alt="{{lieu.name}}" class="lieu-image">
    </div>
    <div class="lieu-name">
      <p>{{ lieu.name }}</p>
    </div>
    <div class="actions-buttons">
      <button mat-icon-button routerLink="/lieu-details/{{lieu.id}}" [matTooltip]="'myLieux.cards.tooltip.view' | translate">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button [matTooltip]="'myLieux.cards.tooltip.edit' | translate" (click)="openUpdateDialog(lieu.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button [matTooltip]="'myLieux.cards.tooltip.delete' | translate" (click)="openDeletionDialog(lieu.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
